body {
    background-color: rgb(26, 10, 97);
    color: cyan;
}

.divhead {
    border: 5px solid rgb(0, 47, 255);
    text-align: center;
    width: 99.0%;
}

.divbod {
    border: 5px solid rgb(0, 47, 255);
    text-align: left;
    position: relative;
    height: 1500px;
    width: 99.0%;
}

.sidepan {
    position: relative;
    top: -100px;
    bottom: 0;
    left: 92.6%;
    right: 0;
    text-align: left;
    border: 5px solid rgb(0, 47, 255);
    width: 90px;
    height: 450px;
}